{% extends "auctions/layout.html" %}

{% block body %}
{% for a in watchlists %}
<ul class="demo">
    <a style="padding-right: 10px;"  href="{{a.listing.get_absolute_url}}">
        <li>
            <div class="li-div">
                <img  style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; max-width: 4.5em; min-width: 2.5em;" src="{{ a.listing.image.url}}">
            
                <h3 style="text-transform: capitalize;">{{a.listing.title}}</h3>
           
            </div>
    
        </li>
    </a>
</ul>
 {% endfor %}

 {% for message in messages %}
 {{message}}
 {% endfor %}
 <br>
 
{% endblock %}
