{% extends "auctions/layout.html" %}

{% block body %}


<h4> Enter bid amount: </h4>
<form action="{% url 'bid'  %}" method="POST">
    {% csrf_token %}
    {{bid_form}}
    <input class="btn btn-primary" type="submit" value="bid here">
</form>




<h4> Add a comment: </h4>
<form action="{% url 'bid' %}" method="POST">
    {% csrf_token %}
    {{comment_form}}
    <input class="btn btn-primary" type="submit" value="comment">
</form>





{% if message %}
    <div>{{ message }}</div>
{% endif %}
<a href="{% url 'index' %}">All Listings</a>
   

bid.title{{bid.title}}





{% endblock %}