{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Active Listings</h2>
   
    {% for listing in listings %}
  <ul>

    <h1><a href="{{listing.get_absolute_url}}">{{listing.title}}</a></h1>

    <li>Listing Id: {{ listing.id }}</li>
    <li>Title: {{ listing.title|safe }}</li>
    <li><img src="{{ listing.image.url }}"/></li>
    <li>Price: {{ listing.price }}</li>
    <li>Description: {{ listing.description }}</a></li>
    <li>Category: {{ listing.category }}</a></li>
    <li>Seller: {{ listing.seller|safe }}</a></li>
    <li>Date: {{ listing.creation_date }}</li>
    <li>Status: {{ listing.active }}</a></li>

</ul>
    {% endfor %}
    <a href="listings">List Here</a>

{% endblock %}