{% extends "auctions/layout.html" %}

{% block body %}

<p>listings.id:  {{listing.id}}</p>
<p>title : {{listing.title}}</p>
<p>{{listing.price}}</p>
<p>{{listing.description}}</p>
<p>{{listing.category}}</p>
<p>seller: {{listing.seller}}</p>
<p>created on: {{listing.creation_date}}</p>
<p>is active: {{listing.active}}</p>
image: <img src="{{ listings.image.url }}"/>
<img src="{{ listing.image.url }}"/>


<h4> Add to Watchlist </h4>
<form action="{% url 'watchlist' listing %}" method="POST">
    {% csrf_token %}
    {{watchlist_form}}
    <input type="submit" class="btn btn-primary" value="Add/Remove to Watchlist">



<a href="{% url 'index' %}">All Listings</a>
   

<h4> Enter bid amount: </h4>
<form action="{% url 'bid' listing %}" method="POST">
    {% csrf_token %}
    {{bid_form}}
    <input class="btn btn-primary" type="submit" value="bid here">
</form>


<h4> Add a comment: </h4>
<form action="{% url 'bid' listing %}" method="POST">
    {% csrf_token %}
    {{comment_form}}
    <input class="btn btn-primary" type="submit" value="comment">
</form>

{% for a in on_watchlist %}
<li>{{a}}</li>
{% endfor %}

{% if message %}
    <div>{{ message }}</div>
{% endif %}

{{bid_amount}}
 
<ul>
    <li>listing bid{{listing.price}} </li>
  

</ul>


{% endblock %}