{% extends "auctions/layout.html" %}

{% block body %}

<p>listings.id:  {{listing.id}}</p>
<p>title : {{listing.title}}</p>
<p>price:  {{listing.price}}</p>
<p>description:  {{listing.description}}</p>
<p>category:  {{listing.category}}</p>
<p>seller:  {{listing.seller}}</p>
<p>created on: {{listing.creation_date}}</p>
<p>active: {{listing.active}}</p>
image: <img src="{{ listings.image.url }}"/>
<img src="{{ listing.image.url }}"/>


<form action="{% url 'watchlist_change' listing %}" method="POST">
    {% csrf_token %}
    {{watchlist_form}}
    <input class="btn btn-primary" type="submit">
</form>



<h4> Enter bid amount: </h4>
<form action="{% url 'bid' listing %}" method="POST">
    {% csrf_token %}
    {{bid_form}}
    <input class="btn btn-primary" type="submit" value="bid here">
</form>
<br>


<h4> Add a comment: </h4>
<form action="{% url 'bid' listing %}" method="POST">
    {% csrf_token %}
    {{comment_form}}
    <input class="btn btn-primary" type="submit" value="comment">
</form>
<br>

{% endblock %}