{% extends "auctions/layout.html" %}

{% block body %}


<h3>make a bid here</h3>




<h3>Highest bid</h3>


<p>listings.id:  {{listing.id}}</p>
<p>title : {{listing.title}}</p>
<p>{{listing.price}}</p>
<p>{{listing.description}}</p>
<p>{{listing.category}}</p>
<p>seller: {{listing.seller}}</p>
<p>created on: {{listing.creation_date}}</p>
<p>is active: {{listing.active}}</p>
image: <img src="{{ listings.image.url }}"/>



{% if message %}
    <div>{{ message }}</div>
{% endif %}
<a href="{% url 'index' %}">All Listings</a>
   







{% endblock %}