{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <ul>
   
    <li>{{title|safe}}</li>
    <li>{{image|safe}}</li>
    <li>{{price|safe}}</li>
    <li>{{description|safe}}</li>
    <li>{{category|safe}}</li>
    <li>{{seller|safe}}</li>
    <li>{{creation_date|safe}}</li>
    <li>{{active|safe}}</li>
    </ul>
    <form action="{% url 'listings' %}" method="POST">
        {% csrf_token %}
        {{form}}       
        <input class="btn btn-primary" type="submit" value="submit">
    </form>

   
{% endblock %}